namespace {{ .ExperimentName }}
ns queueing true

{{- if ne .DefaultBridge "phenix" }}
ns bridge {{ .DefaultBridge }} gre
{{- end }}

{{- if and (ne .VLANs.Min 0) (ne .VLANs.Max 0) }}
vlans range {{ .VLANs.Min }} {{ .VLANs.Max }}
{{- end }}

{{- range $alias, $id := .VLANs.Aliases }}
  {{ if ne $id 0 }}
vlans add {{ $alias }} {{ $id }}
  {{- end }}
{{- end }}

{{- if eq .DeployMode "all" }}
ns add-host localhost
{{- else if eq .DeployMode "only-headnode" }}
ns del-host all
ns add-host localhost
{{- end }}

{{- $basedir := .BaseDir }}

{{- range $node := .Topology.Nodes }}
    {{- if $node.External }}
        {{ continue }}
    {{- end }}

{{/* added space to place hostname above relevant block */}}
## VM: {{ $node.General.Hostname }} ##
    {{- if (derefBool $node.General.DoNotBoot) }}
## DoNotBoot: {{ derefBool $node.General.DoNotBoot }} ##
    {{- else }}
        {{- if (derefBool $node.General.Snapshot) -}}
            {{- range $index, $driveElement := $node.Hardware.Drives }}
                {{- if lt $index 1 }}
disk snapshot {{ $driveElement.Image }} {{ $.SnapshotName $node.General.Hostname }}
		        {{- else }}
disk snapshot {{ $driveElement.Image }} {{ $.SnapshotName $node.General.Hostname }}_{{ $index }} 
                {{- end }}
            {{- end }}
            {{- if gt (len $node.Injections) 0 }}
                {{ $firstDrive := index $node.Hardware.Drives 0 }}
disk inject {{ $.SnapshotName $node.General.Hostname }}:{{ $firstDrive.GetInjectPartition }} files {{ $node.FileInjects $basedir }}
            {{- end }}
        {{- end }}
clear vm config
        {{- if ne (index $.Schedules $node.General.Hostname) "" }}
vm config schedule {{ index $.Schedules $node.General.Hostname }}
        {{- end }}
vm config vcpus {{ $node.Hardware.VCPU }}
vm config cpu {{ $node.Hardware.CPU }}
vm config memory {{ $node.Hardware.Memory }}
vm config snapshot {{ derefBool $node.General.Snapshot }}
        {{- if (derefBool $node.General.Snapshot) }}
vm config disk {{ $node.Hardware.DiskConfig ($.SnapshotName $node.General.Hostname) }}
        {{- else }}
vm config disk {{ $node.Hardware.DiskConfig "" }}
        {{- end }}
        {{- if eq $node.Hardware.OSType "linux" }}
vm config qemu-append -vga qxl
        {{- end }}
        {{- if $node.Network }}
vm config net {{ $node.Network.InterfaceConfig }}
        {{- end }}
        {{- range $config, $value := $node.Advanced }}
vm config {{ $config }} {{ $value }}
        {{- end }}
        {{- range $match, $replacement := $node.Overrides }}
vm config qemu-override "{{ $match }}" "{{ $replacement }}"
        {{- end }}
        {{- range $label, $value := $node.Labels }}
vm config tags {{ $label }} {{ $value }}
        {{- end }}
vm launch {{ $node.General.VMType }} {{ $node.General.Hostname }}
    {{- end }}
{{- end }}
